# IDE and editor directories
.idea/
.vscode/

# Python virtual environment
venv/

# Python cache directories
__pycache__/

# Ignore unwanted code folders
node_modules/
dist/

# Archive and compressed files
*.zip

# JetBrains project files
*.iml

# Ignore unwanted images and media files
*.png
*.jpg
*.jpeg
*.mp3
*.mp4

# Document and file formats
*.txt
*.exe
*.pdf
*.odt
*.docx
*.xlsx
*.csv
*.pptx

# Environment variables
*.env

# Other folders
Project Executable/
