body {
    margin: 10px;
    background-color: #0f0f0f;
}

.head {
    padding: 0.1%;
    border: 2px solid black;
    text-align: center;
    font-size: 32px;
    border-radius: 5px;
}

.body {
    flex-direction: row;
    margin-top: 10px;
}

.head, .body {
    color: rgb(79, 81, 83);
}

#side-body {
    background-color: aqua;
    width: 16vmax;
    height: fit-content;
    font-size: 25px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
}

#main-body {
    flex-direction: column;
    margin-left: 5px;
    border-radius: 5px;
    width: 100vmax;
    border: 2px solid black;
}

.tab {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.heading {
    text-align: center;
    font-size: 28px;
    margin: 4px 14px;
    border: 2px solid rgb(42, 42, 42);
    border-radius: 4px;
    background-color: rgb(42, 42, 42);
}

.video-frame {
    justify-content: space-evenly;
}

/* == Fonts == */

.moirai-one-regular {
    font-family: "Moirai One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Custom Classes */

.flex {
    display: flex;
}